<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.member.model.dao.MemberDao">
  <select id="selectOneMember" resultType="member">
	select * from member_tbl where member_Id=#{membeId}  
  </select>
  <insert id="insertMember">
  	insert into member_tbl values(#{memberId},#{memberPw},#{memberName},#{memberPhone},2)
  </insert>  
  <update id="updatePhone">
  	update member_tbl set member_phone=#{memberPhone} where member_id=#{memberId}
  </update>
  <delete id="delete">
  	delete from member_tbl where member_id=#{memberId}
  </delete>
  <update id="changePwMember">
  	update member_tbl set member_pw=#{memberPw} where member_id=#{memberId}
  </update>
  <select id="memberTotalCount" resultType="int">
  	select count(*) from member_tbl
  </select>
  <select id="selectMemberList" resultType="member">
	select * from
		(select rownum as rnum, m.*from
			(select
			    member_id,
			    member_name,
			    member_phone,
			    member_type
			from member_tbl order by 1)m)
	where rnum between #{start} and #{end}
  </select>
  
  <update id="changeMemberType">
  	update member_tbl set member_type=#{memberType} where member_id=#{memberId}
  </update>
</mapper>
