/*
메인색상
#C4D1C5 연한초록
#647979 진한초록
#807097 진한보라
#C99DCA 연보라
#F6C7BA 복숭아
#F8E0DC 연한살구
*/

.admin-member-tbl-box > table {
  width: 100%;
  border-spacing: 0;
}
.admin-member-tbl-box > table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #eee;
}
.admin-member-tbl-box > table > thead > tr {
  background-color: #c4d1c5;
  color: #fff;
}

.admin-paging-wrap {
  margin-top: 50px;
}

.admin-board-tbl > table {
  width: 100%;
  border-spacing: 0;
}
.admin-board-tbl > table td {
  text-align: center;
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}
.admin-board-tbl > table > thead td {
  background-color: #c4d1c5;
  color: #fff;
}
.admin-board-tbl .title-td > div {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.status-td .MuiSwitch-thumb {
  color: #f6c7ba;
}
.status-td .MuiSwitch-track {
  background-color: #f8e0dc;
}
