/*
메인색상
#C4D1C5 연한초록
#647979 진한초록
#807097 진한보라
#C99DCA 연보라
#F6C7BA 복숭아
#F8E0DC 연한살구
*/
.page-title {
  text-align: center;
  color: #807097  ;
  font-family: ns-black;
  font-size: 26px;
  padding: 30px;
  margin-bottom: 20px;
}

.join-wrap{
  width:500px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #807097;
  border-radius: 5px;
}

.join-input-wrap{  
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
}
.join-input-wrap > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.join-input-wrap>div>.label{
  width: 30%;
}
.join-input-wrap > div > .label >label {
  font-size: 18px;
  font-family: ns-b;
  color: #807097 ;
}
.join-input-wrap>div>.input{
  width:70%;
}
.check-msg {
  font-size: 13px;
  width: 70%;
  color: rgb(245, 49, 49);
  align-self: flex-end;
}
.join-btn-box{
  padding: 15px 0;  
  font-size: 20px;
}


.login-wrap{
  width: 500px;
  margin: 50px auto;
  border: 1px solid #807097;
  padding: 30px;
  border-radius: 5px;
}
.login-title{
  text-align: center;
}
.login-input-wrap{
  padding: 10px;
}
.login-btn{ 
  width: 100%;
  margin: 10px auto;  
}
.login-search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 20px;
}
.login-search-box > span{
  transform: rotate(90deg);
}
.login-search-box > a:hover{
  text-decoration: underline;
}

/*mypage*/
.mypage-title{
  padding: 10px 0;
  border-bottom: 2px solid #647979;
}
.mypage-title>span{
  font-family: ns-eb;
  font-size: 150%;
  color :#647979;
}
.mypage-content {
  display: flex;
  justify-content: space-between;
}
.mypage-current-content{
  width:900px;
}
