/*
메인색상
#C4D1C5 연한초록
#647979 진한초록
#807097 진한보라
#C99DCA 연보라
#F6C7BA 복숭아
#F8E0DC 연한살구
*/

@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-eb;
  src: url(/public/font/NotoSansKR-ExtraBold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: ns-r;
  color: #1e1e1e;
  text-decoration: none;
}

header {
  background-color: #C99DCA;
  padding: 10px 0px;
  min-width: 1200px;
  
}
.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-logo > a {
  font-size: 32px;
  font-family: ns-black;
  color: #fff ;
}
.nav > ul {
  list-style-type: none;
  display: flex;
  width: 600px;
}
.nav > ul > li {
  width: calc(100% / 4);
  text-align: center;
  padding: 5px 0px;
}
.nav > ul > li > a {
  color: #fff ;
  font-family: ns-b;
}

.header-link {
  display: flex;
  align-items: center;
  height: 50px;
}
.header-link > a {
  margin-left: 30px;
}
.header-link > a > span {
  font-size: 32px;
  color: #fff ;
}

.footer {
  padding: 50px;
  background-color: #C99DCA;
}
.footer-content {
  width: 1200px;
  margin: 0 auto;  
}
.footer-content > ul {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 20px;
}
.footer-content > ul > li {
  float: left;
  padding-right: 20px;
  
}
.footer-content>ul>li>a{
  color: #fff;
}
.footer-content p {
  color: #fff;
}

.wrap {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
  width: 1200px;
  margin: 30px auto;
}
.check-msg{
  justify-content: flex-end;
}
.check-msg> div{
  width: 70%;
  font-size: 13px;
  color:#f44336;
}