/*
메인색상
#C4D1C5 연한초록
#647979 진한초록
#807097 진한보라
#C99DCA 연보라
#F6C7BA 복숭아
#F8E0DC 연한살구
*/

.board-title{
    font-size: 24px;
    color: #F6C7BA;
    font-family: ns-b;
    text-align: center;
    padding: 30px 0;
    border-bottom: 2px solid #F8E0DC;
}
.board-write-btn {
    padding: 20px 0px;
}
.board-write-btn > button {
    width: 100px;
}
.board-list-wrap{
    overflow: hidden;
    padding: 10px;
}
.board-item{
    float: left;
    box-sizing: border-box;
    width: calc(100% /4);
    padding: 30px;
    cursor: pointer;
}
.board-item:hover{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.board-item-img > img{
    width: 100%;
}
.board-item-info{
    margin-top: 30px;
}
.board-item-title{
    font-size: 1.2em;
    font-family: ns-eb;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-item-writer, 
.board-item-date {
    font-size: 0.9em;
    font-family: ns-b;
}