/*
메인색상
#C4D1C5 연한초록
#647979 진한초록
#807097 진한보라
#C99DCA 연보라
#F6C7BA 복숭아
#F8E0DC 연한살구
*/
.input-form {
  display: block;
  width: 100%;
  padding: 0.7rem;
  background-color: #fff;
  outline: none;
  border: none;
  border-bottom: 2px solid #C4D1C5 ;
  box-sizing: border-box;
}
.btn {
  width: 100%;
  padding: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: ns-eb;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
}
.st1 {
  background-color: #807097;
}
.st2 {
  background-color: #F6C7BA;
}
.st3 {
  background-color: #C4D1C5 ;
}
