/*
메인색상
#5356FF rgb(83, 86, 255)
#378CE7 rgb(55, 140, 231)
#67C6E3 rgb(103, 198, 227)
#DFF5FF rgb(223, 245, 255)
*/
.input-form {
  display: block;
  width: 100%;
  padding: 0.7rem;
  background-color: #fff;
  outline: none;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
}
.btn {
  width: 100%;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: ns-eb;
  border: none;
  outline: none;
  color: #fff;
}
.st1 {
  background-color: #5356ff;
}
.st2 {
  background-color: #378ce7;
}
.st3 {
  background-color: #67c6e3;
}
