/*
메인색상
#C4D1C5 연한초록
#647979 진한초록
#807097 진한보라
#C99DCA 연보라
#F6C7BA 복숭아
#F8E0DC 연한살구
*/

.paging-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.paging-wrap>.page-item{
    min-width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    padding: 5px;
    cursor: pointer;
}
.page-item.active-page{
    background-color: #807097;
    color: #fff;
    border-radius: 10px;
}

.board-frm-title{
    font-size: 16px;
    color: #807097;
    font-family: ns-b;
    padding: 20px 0px;
}
.board-frm-top {
    display: flex;
    justify-content: space-between;
}
.board-thumbnail{
    width: 280px;
    height: 280px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.board-thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.board-info {
    width:900px;
}
.board-info-tbl {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #C4D1C5;
    border-radius: 5px;
}
.board-info-tbl tr> td{
    border: 1px solid #e2e2e2 ;

}
.board-info-tbl  tr > td:first-child {
    width: 150px;
    padding: 10px 20px;
    background-color: #C4D1C5;
    border: 1px solid #e2e2e2 ;
    text-align: center;
}
.board-info-tbl tr > td:last-child{
    padding: 10px 20px;
}
.board-info-tbl tr > td > input[type="text"]{
    border: none;
    padding: 0;
}
.file-zone{
    height: 118px;
    overflow-y: auto;
}
.file-zone > p {
    padding: 5px;
}
.file-zone > p:hover {
    background-color: #C4D1C5;
}
.board-frm-bottom {
    margin: 10px 0px;
}
